{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-4">
        <h1 class="text-center">Country List</h1>
        <a href="{{ path('app_country_new') }}" class="btn btn-success mb-3">Create new</a>
        <a href="{{ path('load_countries') }}" class="btn btn-primary mb-3">Load Countries</a>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Flag</th>
                <th>Code</th>
                <th>Population</th>
                <th>Region</th>
                <th>Subregion</th>
                <th>Capital</th>
                <th>Area</th>
                <th>Languages</th>
                {#<th>Borders</th>#}
                <th>NativeName</th>
                {#<th>NumericCode</th>#}
                <th>Currencies</th>
                <th>Timezones</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr>
                    <td>{{ country.id }}</td>
                    <td>{{ country.name }}</td>
                    <td>#<img src="{{ country.flag }}" alt="{{ country.name }} flag" width="50"></td>
                    <td>{{ country.code }}</td>
                    <td>{{ country.population }}</td>
                    <td>{{ country.region }}</td>
                    <td>{{ country.subregion }}</td>
                    <td>{{ country.capital }}</td>
                    <td>{{ country.area }}</td>
                    <td>
                        {% set languages = country.languages | slice(0, 3) %}
                        {{ languages | join(', ') }}
                        {% if country.languages | length > 3 %}
                            ...
                        {% endif %}
                    </td>
                    {#<td>{{ country.borders | join(', ') }}</td>#}
                    <td>{{ country.nativeName }}</td>
                    {#<td>{{ country.numericCode }}</td>#}
                    <td>
                        {% if country.currencies %}
                            {% set currencyNames = [] %}
                            {% for currency in country.currencies %}
                                {% set currencyNames = currencyNames|merge([currency.name]) %}
                            {% endfor %}
                            {{ currencyNames | join(', ') }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% set timezones = country.timezones | slice(0, 3) %}
                        {{ timezones | join(', ') }}
                        {% if country.timezones | length > 3 %}
                            ...
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_country_show', {'id': country.id}) }}" class="btn btn-info btn-sm btn-equal-width">Show</a>
                        <a href="{{ path('app_country_edit', {'id': country.id}) }}" class="btn btn-warning btn-sm btn-equal-width">Edit</a>
                        {{ include('country/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="16" class="text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
