{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Create New Country</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.code, 'Code', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.population, 'Population', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.population, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.flag, 'Flag', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.flag, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.region, 'Region', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.subregion, 'Subregion', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.subregion, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.capital, 'Capital', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.capital, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.area, 'Area', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.area, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.languages, 'Languages', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.languages, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.borders, 'Borders', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.borders, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nativeName, 'Native Name', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.nativeName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.numericCode, 'Numeric Code', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.numericCode, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.currencies, 'Currencies', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.currencies, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.timezones, 'Timezones', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.timezones, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    {{ form_end(form) }}
    <a href="{{ path('app_country_index') }}" class="btn btn-secondary">Back to list</a>
</div>
{% endblock %}
